body{
  background-color: transparent;
  position: fixed;
}

.WeatherData{
  animation: rightmove-fadein 0.3s linear;
  position: absolute;
  width: 21vw;
  font-size: 1.2vw;
  margin-left: 57vw;
  opacity: 0.93;
  font-family: calibri;
  top: -44vh;
}

.list-header{
  color: #5E626C;
  background-color: #9BA89F;
  font-weight: bold;

}

@keyframes rightmove-fadein {
  0% { opacity: 0 }
  100% { opacity: 0.93 }
  from {margin-left: 42vw;}
  to {margin-left:57vw;}
}
