body{
  background-color: transparent;
  position: fixed;
}

.WeatherData{
  animation: rightmove-fadein 0.3s linear;
  position: absolute;
  width: 280px;
  font-size: 16px;
  margin-left: 780px;
  opacity: 0.93;
  font-family: calibri;
  top: 250px;
}

.list-header{
  color: #5E626C;
  background-color: #9BA89F;
  font-weight: bold;
  font-size: 16px;
}

@keyframes rightmove-fadein {
  0% { opacity: 0 }
  100% { opacity: 0.93 }
  from {margin-left: 550px;}
  to {margin-left:780px;}
}
