body{
  background-color: transparent;
  min-height: 39vw;

}
#headerbackground{
  opacity: 0.85;
  background-color: #DEEFF3;
  animation: fadeinheader 4s ;
}

#Home{
  font-family: calibri;
  font-size: 1.4vw;
  text-decoration: underline;
  position: absolute;
  left: 6.5vw;
}

.navbar-text{
  font-family: calibri;
  font-size: 1.4vw;
}

.row{
  margin-left: 18vw;
  opacity: 0.93;
  position: absolute;
  margin-top: 7vw;
  width: 20vw;
}


.list-group{
  cursor: pointer;
  font-size: 1.2vw;
  font-family: calibri;
  color: #5E626C;
  max-height: 20vh;
}

.panel-title{
  font-weight: bold;
  font-size: 1.6vw;
  font-family: calibri;
  color: #5E626C;
}

#x{
    position: relative;
    background: #D95E3C;
    right: -4.2vw;
    top: -0.7vw;
    font-family: calibri;
}

#search-box{
  width:15vw;
}

@keyframes fadeinheader {
  0% { opacity: 0 }
  100% { opacity: 0.85 }
}
