body{
  background-color: transparent;
  min-height: 80vh;
  min-width: 768px;

}
#headerbackground{
  opacity: 0.85;
  background-color: #DEEFF3;
  animation: fadeinheader 4s ;
}

#Home{
  font-family: calibri;
  font-size: 20px;
  text-decoration: underline;
  position: absolute;
  left: 65px;
}

.navbar-text{
  font-family: calibri;
  font-size: 20px;
}

.row{
  animation : fadein 1s linear;
  margin-left: 220px;
  opacity: 0.93;
  position: absolute;
  margin-top: 90px;
  width: 270px;
}


.list-group{
  cursor: pointer;
  font-size: 16px;
  font-family: calibri;
  color: #5E626C;
}

.panel-title{
  font-weight: bold;
  font-size: 20px;
  font-family: calibri;
  color: #5E626C;
}

#x{
    position: absolute;
    background: #D95E3C;
    left: 180px;
    top: 0;
    font-family: calibri;
}

#search-box{
  width: 70%;
}

@keyframes fadeinheader {
  0% { opacity: 0 }
  100% { opacity: 0.85 }
}
