<html>
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link rel="stylesheet" href="/cities.component.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>

<div id="headerbackground">
<nav class="navbar navbar-inverse">
<p class="navbar-text"><i class="wi wi-day-lightning"></i> Welcome to WeatherCities<br>
The easiest way to learn about the weather in 5 major destinations!</p>
<ul class="nav navbar-nav">
	 <li><a id="Home" href="http://localhost:4200/">Home</a></li>
</ul>
</nav>
</div>

<div class="container">
	<div class="row">
	        <div class="col-md-12">
	            <div class="panel panel-info">
	                <div class="panel-heading" >
	                    <h2 class="panel-title">Select City<button *ngIf = 'selectedCity' type="button" id="x" class="btn btn-warning btn-circle btn-md" (click)='selectCity(undefined)'><i class="glyphicon glyphicon-remove"></i> Reset</button></h2>
											<input #searchBox id="search-box" (keyup)="search(searchBox.value)" type="text" placeholder="Filter Cities" />
	                </div>
	                <ul class="list-group">
	                    <a *ngFor = "let city of filteredCities" (click)='selectCity(city)' class="list-group-item">{{city.name}}</a>

	                </ul>

	            </div>
	        </div>
				</div>
			</div>





</body>
</html>
